<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Permission nécessaire pour Firebase Realtime Database -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoachMeFit"
        tools:targetApi="31">

        <!-- Activités de l'application -->
        <activity android:name=".GoalActivity" />
        <activity android:name=".MyRequestsActivity" />
        <activity android:name=".CoachProfileActivity" />
        <activity android:name=".CoachProgramsActivity" />
        <activity android:name=".RequestsActivity" />
        <activity android:name=".ProgramDetailsActivity" />
        <activity android:name=".MemberHomeActivity" />
        <activity android:name=".AddProgramActivity" />
        <activity android:name=".CoachHomeActivity" />

        <!-- Activité principale lancée au démarrage -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>